﻿@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@model IEnumerable<finalproject.Models.items>

<section id="products" class="container">
    <h1 class="display-6 text-center" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Products</h1> <br /><br />

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        @item.name
                    </div>
                    <div class="card-body">
                            <img src="~/imagesP/@item.imagefilename" height="150" />
                    </div>
                    <div class="card-footer">
                        <a asp-action="buy" asp-controller="orders" asp-route-id="@item.Id">buy</a> |
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</section>

<style>
    body {
        background-image: url(imagesP/pro1.PNG); }


</style>
